.postcard-list{
    & .postcard-list-view{
        height: 100px;
        cursor: pointer;
    }
    & :hover{
        background-color: #17171d;
        transform-style: preserve-3d;
        transform: scale(1.02);
        transition: all ease 0.3s;
        opacity: 1;
    }

}