.btn {
    border: none;
    background-color: #2196F3;
    color: #fff;
    min-width: 150px;
    min-height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    padding: .5em;
    &:active { 
        transform: scale(0.98); 
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    }
}
